accelerate
aistudio-sdk
altair
altgraph
annotated-doc
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
astor
asttokens
async-lru
attrs
av
babel
bce-python-sdk
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
chandra-ocr
chardet
charset-normalizer
click
colorama
colorlog
comm
contourpy
cycler
dash
dash-bootstrap-components
debugpy
decorator
deepseek
defusedxml
deprecation
distlib
distro
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
easyocr
entrypoints
et_xmlfile
executing
Faker
fastapi
fastjsonschema
filelock
filetype
Flask
fonttools
fqdn
fsspec
future
fuzzywuzzy
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
hf-xet
httpcore
httplib2
httpx
huggingface-hub
idna
ImageIO
imagesize
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter-events
jupyter_packaging
jupyter_server
jupyter_server_terminals
jupyterlab_pygments
jupyterlab_widgets
kiwisolver
lazy_loader
Levenshtein
markdownify
MarkupSafe
matplotlib
matplotlib-inline
matplotlib-venn
mistune
modelscope
mpmath
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
notebook_shim
numpy
ollama
openai
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
opt-einsum
overrides
packaging
paddleocr
paddlepaddle
paddlepaddle-gpu
paddlex
pandas
pandocfilters
parso
pefile
pillow
pip
platformdirs
plotly
prettytable
prometheus_client
prompt_toolkit
proto-plus
protobuf
psutil
psycopg2-binary
PuLP
pure_eval
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pyclipper
pycparser
pycryptodome
pydantic
pydantic_core
pydantic-settings
pydeck
pygame
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pyparsing
pypdfium2
pytesseract
python-bidi
python-dateutil
python-dotenv
python-json-logger
python-Levenshtein
python-multipart
pytz
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
qwen-vl-utils
RapidFuzz
referencing
regex
reportlab
requests
retrying
rfc3339-validator
rfc3986-validator
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
setuptools
shapely
shellingham
six
smmap
sniffio
soupsieve
sqlparse
stack-data
starlette
streamlit
sympy
tenacity
terminado
thefuzz
threadpoolctl
tifffile
tinycss2
tokenizers
toml
tomlkit
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typer-slim
types-python-dateutil
typing_extensions
typing-inspection
tzdata
ujson
uri-template
uritemplate
urllib3
uvicorn
virtualenv
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
xlrd
zipp